<config>
    <graphStyle>
        <graphTitle>Sigmoid Function Graph</graphTitle>
        <legend visible="true"/>
        <axis>
            <xAxis title="x" tickNumber="10" showLine="true"/>
            <yAxis title="F(x)" tickNumber="10" showLine="true"/>
        </axis>
        <graphType>scatter</graphType>
        <seriesName>Sigmoid Function</seriesName>
    </graphStyle>
    <control zoom="1" pan="1" tooltip="1" locked="0" lockedMouse="0" lockedWheel="0"/>
    <colorScheme>
        <background>#ffffff</background>
        <axisColor>#000000</axisColor>
        <seriesColor>#00ff00</seriesColor>
    </colorScheme>
</config>